input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }
}

environment {
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    EGL_PLATFORM "gbm"

    NOCTALIA_DM_PREF_SES "niri"
}

spawn-sh-at-startup "qs -c noctalia-greet; niri msg action quit --skip-confirmation"
