// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

// Input device configuration.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }

    touchpad {
        tap
        dwt // disable-when-typing
        drag-lock
        natural-scroll
    }
}

hotkey-overlay {
    skip-at-startup
}

gestures {
    hot-corners {
        off
    }
}

// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "Samsung Electric Company SAMSUNG Unknown" {
    scale 1.25
    position x=0 y=0
    focus-at-startup
}
output "PNP(GWD) ARZOPA 000000000000" {
    scale 1.25
    position x=3072 y=0
}
output "Hisense Electric Co., Ltd. HISENSE 0x00000001" {
    off
    position x=-384 y=-2160
}
output "AU Optronics 0x5B2D Unknown" {
    scale 1.1
    focus-at-startup
}

spawn-at-startup "swaybg" "-m" "fill" "-i" "/usr/share/backgrounds/default.jxl"
spawn-at-startup "gtkgreet-niri-greeter"

binds {
}
